# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/crosspay?retryWrites=true&w=majority

# Port
PORT=5000

# Stripe Keys
# If left empty, the app will run in MOCK MODE
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Razorpay Keys (Placeholder for later)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
